html {
    background-color: #EEEEEE;
    position: relative;
}

body {
    color: #222222;
    text-align: justify;
    font-family: sans-serif;
    background-color: white;
    margin: 0 auto;
    line-height: 18px;
    font-size: 12px;
}

.small-size {
    font-size: 10px;
}

/**********
 HEADER
**********/

header {
    background-color: #000000;
    color: #FFFFFF;
}

.header-content {
    height: 72px;
    padding: 10px 30px;
    display: flex;

}


header img {
    height: 72px;
}

.header-title {
    display: flex;
    align-items: center;
    margin: auto 0;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}




/**********
 Footer
**********/

footer {
    background-color: #3B3B3B;
    color: #FFFFFF;
    font-size: 11px;
    line-height: initial;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    margin: auto;
    height: 60px;
    width: fit-content;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}


/*************
 CONTENT
 *************/

.content {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 80px;

}

.content a {
    display: block;
}

.content-flex {
    display: flex;
    flex-wrap: wrap;
}

.content-flex-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-flex-container {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    padding: 4px;
    height: 100%;
}

.align-left {
    text-align: left !important;
}

.content-text {
    text-align: justify;
    font-size: 16px;
}


/********
LINKS
 ********/
.link-image {
    width: 100%;
    height: inherit;
    max-height: 500px;
}

.inline-link {
    display: inline !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 238);
}

a:hover {
    text-decoration: underline;
}


/********
ABBRS
 ********/

abbr {
    text-decoration: none;
}

/*************
COLORS
 *************/

.black {
    color: black;
}


/****************
BORDER
 ***************/

.border-bottom {
    border-bottom: solid black 1px;
}

/*******************
SMALL SCREENS
 *******************/



@media (max-width: 600px) {
    .content-flex-box {
        flex: 0 0 100%
    }

    .header-logo {
        display: none;
    }

    .header-title {
        padding: 0;
        font-size: 11px;
    }
}


/**************
IFRAME (VIDEO)
 *************/

.body-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
}


















/************
EXAMPLE STUDY
 ************/
.example-container button {
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline-color: unset;
    cursor: pointer;
}

.example-container button:active {
    background:#4e8450
}

.example-container label {
    color: blue;
    font-size: 14px;
}

















